@charset "utf-8";


body {
    text-align: center;
    background-image: url(../images/top/夕焼けhand.png);
    background-size: 100%;
}


/*全体*/

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    color: #666;
}
#header {
    text-align: center;
    font-size: 24px;
    width: 100%;
    margin: 1rem 0 0;
}


.home {
    font-size: 50px;
}

.date {
    margin-bottom: 0px;
}

/*日付*/
#view_today {
    font-size: 30px;
    
}

/*カレンダー*/
#calendar {
    text-align: center;
    width: 100%;
}
table {
    width: 100%;
}
th {
    color: #000;
    padding-bottom: 50px;
    text-align: center;
}

td {
    height: 150px;
    text-align: left;
    vertical-align: text-top;
}



/*日曜日*/
td:first-child {
    color: red;
}
/*土曜日*/
td:last-child {
    color: blue;
}
/*前後月の日付*/
td.disabled {
    color: #ccc;
}
/*本日*/
td.today {
    background-color: #D65E72;
    color: #fff;
}

/*ボタン*/
#next-prev-button {
    position: relative;
}
#next-prev-button button {
    cursor: pointer;
    background: #B78D4A;
    color: #fff;
    border: 1px solid #B78D4A;
    border-radius: 4px;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    margin: 1rem 0;
}
#next-prev-button button:hover {
    background-color: #D4BB92;
    border-color: #D4BB92;
}
#prev {
    float: left;
}
#next {
    float: right;
}
