@charset "UFT-8";

body {
    text-align: center;
    background-image: url(../images/signup/cody-reed-tEqIhwWJu1w-unsplash.jpg);
    background-size: 100%;
    color: aliceblue;
}

.title {
    font-size: 60px;
    margin-top: 60px;
    margin-bottom: 80px;
}
label {
    display: block;
    margin: 10px 0px;
}
input[type="email"],
input[type="text"],
input[type="password"] {
    display: block;
    width: 20%;
    margin-left: 39%;
    background-color: transparent;
    border-bottom: 3px solid #000;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #cccccc;
    border-right: none;
    border-left: none;
    border-top: none;
}

input[type="email"]::placeholder,
input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: #999999;
    font-size: 20px;
}
input:focus {
    outline: none;
}
.btn-area {
    margin-top: 30px;
    text-align: center;
}
.btn {
    width: 10%;
    display: block;
    text-align: center;
    margin-left: 45%;
    color: #ffffff;
    font-size: 1.2em;
    border: none;
    border-radius: 6px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, .1);
    padding: 20px;
    cursor: pointer;
}
.submit-btn {
    background-color: #ec008c;
    margin-bottom: 15px;
}
.submit-btn:hover {
    background-color: #f93dae;
}

.link-btn {
    margin-top: 100px;
}
